<div data-test-id="createupdatemodal">
  <h3 class="!text-lg !mb-2 font-semiBold" mat-dialog-title>
    {{
      data.mode === 'create'
        ? 'Create TODO'
        : editable
        ? 'Update TODO'
        : 'View TODO'
    }}
  </h3>
  <hr />
  <div mat-dialog-content>
    <div class="my-6 mb-2">
      <form *ngIf="createUpdateForm" [formGroup]="createUpdateForm">
        <label
          aria-required="true"
          for="headingid"
          required
          [attr.aria-disabled]="!editable"
          >Heading</label
        >
        <input
          id="headingid"
          name="headingid"
          type="text"
          class="my-1 w-full rounded p-2 text-sm text-black-dark caret-indigo md:text-md"
          required
          formControlName="heading"
          data-test-id="createupdatemodal-heading" />
        <label for="textid">Text</label>
        <textarea
          id="textid"
          name="textid"
          type="text"
          class="my-1 w-full rounded p-2 text-sm text-black-dark caret-indigo md:text-md"
          formControlName="text"
          rows="3"
          data-test-id="createupdatemodal-text"></textarea>
        <label for="duedateid" required [attr.aria-disabled]="!editable"
          >Due On</label
        >
        <input
          aria-required="true"
          id="duedateid"
          name="duedateid"
          class="my-1 w-full rounded p-2 text-sm text-black-dark caret-indigo md:text-md"
          required
          type="datetime-local"
          formControlName="duedate"
          data-test-id="createupdatemodal-duedate" />
      </form>
    </div>
  </div>
  <hr />
  <div mat-dialog-actions>
    <button
      mat-stroked-button
      color="primary"
      (click)="onDialogAction()"
      type="button"
      [disabled]="createUpdateForm?.invalid || !editable"
      data-test-id="createupdatemodal-save"
      mat-dialog-close>
      Save
    </button>
    <button
      mat-stroked-button
      mat-dialog-close
      cdkFocusInitial
      color="warn"
      (click)="closeModal()"
      type="reset"
      data-test-id="createupdatemodal-cancel">
      Cancel
    </button>
  </div>
</div>
