<section class="my-4 xl:w-1/2 mx-auto">
  <ng-container *ngIf="todos?.length; else nodata">
    <ng-container *ngFor="let group of todos; trackBy: trackByGroupFn">
      <fieldset class="text-2xl border-t border-gray-300 rounded">
        <legend class="py-3 px-1">
          {{ group.datedivider | tddGroupDate }}
        </legend>
        <ng-container *ngFor="let todo of group.todos; trackBy: trackByTodoFn">
          <div class="py-2 px-6">
            <div class="text font-bold flex space-x-2 items-center">
              <span>{{ todo.heading }}</span>
              <ng-container *ngIf="todo.additional">
                <span
                  class="font-normal text-white rounded-sm text-sm py-1 px-2"
                  [ngClass]="{
                    'bg-red': todo.additional.state === 'error',
                    'bg-warning': todo.additional.state === 'warn',
                    'bg-info': todo.additional.state === 'info'
                  }"
                  >{{ todo.additional.message }}</span
                >
              </ng-container>
            </div>
            <div class="text-md" [ngClass]="{ 'mt-1': !!todo.additional }">
              {{ todo.text }}
            </div>
            <div class="text-sm text-gray-600">
              Due: {{ todo.duedate | tddDisplayDate | date: 'medium' }}
            </div>
            <div
              class="text-md"
              [ngClass]="{
                'text-red-600': todo.status === 'Incomplete',
                'text-green-600': todo.status === 'Complete'
              }">
              {{ todo.status }}
            </div>
          </div>
        </ng-container>
      </fieldset>
    </ng-container>
  </ng-container>
  <ng-template #nodata>
    <div class="text-red-600">No TODO found</div>
  </ng-template>
</section>
