<section class="my-4 xl:w-1/2 mx-auto">
  <ng-container *ngIf="todos?.length; else nodata">
    <ng-container *ngFor="let group of todos; trackBy: trackByGroupFn">
      <fieldset class="text-2xl border-t border-gray-300">
        <legend class="py-3 pl-1 pr-2.5 -mb-3 text-shadow">
          {{ group.datedivider | tddGroupDate }}
        </legend>
        <div role="list">
          <ng-container
            *ngFor="let todo of group.todos; trackBy: trackByTodoFn">
            <div
              class="py-2 px-2 md:px-4 mx-2 md:mx-6 rounded my-2 cursor-pointer todo-content-wrapper"
              [ngClass]="{
                'border-red-300': todo.additional?.state === 'error',
                'border-warning': todo.additional?.state === 'warn',
                'border-info': todo.additional?.state === 'info',
                'border-green-300': todo.status === 'Complete'
              }"
              role="listitem"
              (click)="editTodo(todo)">
              <div class="grid grid-cols-6 gap-2">
                <div class="flex flex-col col-span-5 space-y-1">
                  <div *ngIf="todo.additional" class="z-10">
                    <span
                      class="font-normal text-white rounded-sm text-sm py-1 px-2 max-w-fit text-center"
                      [ngClass]="{
                        'bg-red': todo.additional.state === 'error',
                        'bg-warning': todo.additional.state === 'warn',
                        'bg-info': todo.additional.state === 'info',
                        'bg-green-600': todo.additional.state === 'safe'
                      }"
                      >{{ todo.additional.message }}</span
                    >
                  </div>
                  <div class="text font-bold pt-1 pb-2">
                    {{ todo.heading }}
                  </div>
                  <div class="max-h-40 overflow-auto md:overflow-y-auto">
                    <div
                      class="text-md text-justify whitespace-pre-line break-words py-2 xl:py-1.5 3xl:py-1">
                      {{ todo.text }}
                    </div>
                  </div>
                  <div
                    *ngIf="todo.status === 'Incomplete'"
                    class="text-sm todo-duedate pt-4 pb-1 z-10">
                    Due: {{ todo.duedate | tddDisplayDate | date : 'medium' }}
                  </div>
                  <div
                    *ngIf="todo.completedon && todo.status === 'Complete'"
                    class="text-sm todo-duedate !-mt-0.5 font-semiBold pt-4 pb-1 z-10"
                    [ngClass]="{
                      '!text-red-600': todo.performance?.rating === 'late',
                      '!text-orange-600':
                        todo.performance?.rating === 'delayed',
                      '!text-green-600':
                        todo.performance?.rating === 'ontime' ||
                        todo.performance?.rating === 'beforetime'
                    }">
                    {{ todo?.performance?.message }}
                  </div>
                </div>
                <div class="flex flex-col justify-between">
                  <div class="flex justify-end">
                    <mat-icon
                      role="button"
                      [ngClass]="{
                        'text-red-600': todo.status === 'Incomplete',
                        'text-green-600': todo.status === 'Complete'
                      }"
                      (click)="toogleStatus($event, todo)"
                      >{{
                        todo.status === 'Incomplete'
                          ? 'unpublished'
                          : 'check_circle'
                      }}</mat-icon
                    >
                  </div>
                  <div class="flex justify-end">
                    <mat-icon
                      class="flex justify-end todo-delete"
                      role="button"
                      (click)="onDeleteTodo($event, todo)">
                      delete</mat-icon
                    >
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </fieldset>
    </ng-container>
  </ng-container>
  <ng-template #nodata>
    <div class="text-red-600">No TODO found</div>
  </ng-template>
</section>
