<section class="flex justify-between my-4 xl:w-1/2 mx-auto">
  <div class="flex flex-col">
    <label for="groupbyid" class="text-md">Group By</label>
    <mat-button-toggle-group
      id="groupbyid"
      [value]="groupBy"
      name="groupBy"
      aria-label="Group By day or month"
      (click)="onToggleGroupBy()"
      class="flex justify-start items-center">
      <mat-button-toggle value="day" data-test-id="groupbydate"
        >Day</mat-button-toggle
      >
      <mat-button-toggle value="month" data-test-id="groupbymonth"
        >Month</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <div class="flex flex-col">
    <label for="showallid" class="text-md">Completed</label>
    <mat-button-toggle-group
      id="showallid"
      [value]="showAll ? 'show' : 'hide'"
      name="showAll"
      aria-label="Show or hide completed TODOs"
      (click)="onToggleShowAll()">
      <mat-button-toggle value="hide" data-test-id="showallhide"
        >Hide</mat-button-toggle
      >
      <mat-button-toggle value="show" data-test-id="showallshow"
        >Show</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
</section>
