*,
::before,
::after {
  --black: rgba(0, 0, 0, 0.9);
  --black-light: rgba(0, 0, 0, 0.75);
  --black-dark: rgb(0, 0, 0);
  --black-alt: rgb(18, 18, 18);
  --red: rgb(220, 20, 49);
  --red-light: rgba(220, 20, 49, 0.75);
  --indigo: rgb(63, 81, 181);
  --blue: rgb(13, 91, 175);
  --info: rgb(33, 150, 243);
  --warning: rgb(255, 120, 0);
}
