/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
  }
  h1 {
    @apply text-4xl md:text-6xl;
  }
  h2 {
    @apply text-3xl md:text-5xl;
  }
  h3 {
    @apply text-2xl md:text-4xl;
  }
  h3[mat-dialog-title] {
    @apply !pl-4;
  }
  h4 {
    @apply text-xl md:text-3xl;
  }
  h5 {
    @apply text md:text-2xl;
  }
  h6 {
    @apply text-md md:text;
  }
  .mat-toolbar,
  .mat-mdc-button-toggle,
  .mat-label,
  .mat-dialog,
  .mat-mdc-dialog-title,
  .mat-mdc-dialog-content,
  .mat-button,
  .mat-mdc-outlined-button,
  .mat-button-toggle-label-content {
    @apply !font-sans;
  }
  .mat-button-toggle {
    @apply text-md;
  }
  .mat-button-toggle-group {
    @apply border-indigo;
  }
  .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    @apply !bg-indigo !text-white;
  }
  .mat-mdc-dialog-title {
    @apply !mb-2 !text-xl !font-semiBold !text-black-alt;
  }
  .mat-mdc-dialog-content {
    @apply !text-md;
  }
  .mat-mdc-dialog-surface.mdc-dialog__surface {
    @apply !pb-4 !px-2;
  }
  .mat-mdc-dialog-content.mdc-dialog__content {
    @apply !px-4;
    --mdc-dialog-supporting-text-color: var(--black);
  }
  .mat-mdc-dialog-actions {
    @apply !justify-end;
  }
  .mdc-dialog__title + .mdc-dialog__content {
    @apply !pb-0;
  }
  .text-shadow {
    text-shadow: 0 0 1px var(--black-light);
  }
  label {
    @apply font-bold text-black;
  }
  label[required]::after {
    content: ' *';
    @apply text-red-600 text-sm;
  }
  input,
  textarea,
  select {
    @apply !text bg-indigo-50 border border-indigo-200 outline-indigo-400;
  }
  input:disabled,
  select:disabled,
  textarea:disabled {
    @apply cursor-not-allowed bg-gray-100 border border-gray-300;
  }
  input.ng-invalid.ng-dirty {
    @apply bg-red-100 text-red-700 outline-red-400 border-red-400;
  }
  form,
  form > * {
    @apply !block;
  }
  form > * {
    @apply !w-full;
  }
  input[type='datetime-local'] {
    @apply !block !p-2 !w-full;
    appearance: textfield;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
  }
  @media (prefers-color-scheme: dark) {
    .mat-toolbar.mat-primary {
      @apply bg-transparent text-white;
    }
    .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
      @apply !bg-transparent;
    }
    .mat-button-toggle-group {
      @apply border-white;
    }
    .mat-mdc-dialog-container {
      @apply bg-black-dark border border-white text-white;
    }
    .mat-mdc-outlined-button:not(:disabled) {
      @apply border !border-white !text-white;
    }
    .mat-mdc-outlined-button:disabled {
      @apply border !border-white !text-white opacity-25;
    }
    label {
      @apply font-normal;
    }
  }
}
