/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
  }
  .mat-toolbar,
  .mat-button-toggle,
  .mat-label,
  .mat-dialog,
  .mat-dialog-title,
  .mat-dialog-content,
  .mat-button,
  .mat-stroked-button {
    @apply !font-sans;
  }
  .mat-button-toggle {
    @apply text-md;
  }
  .mat-button-toggle-group {
    @apply border-indigo;
  }
  .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    @apply !bg-indigo !text-white;
  }
  .mat-dialog-title {
    @apply mb-2 text-xl;
  }
  .mat-dialog-content {
    @apply text-md;
  }
  .text-shadow {
    text-shadow: 0 0 1px var(--black-light);
  }
  label {
    @apply font-bold;
  }
  label[required]::after {
    content: ' *';
    @apply text-red-600 text-sm;
  }
  input,
  textarea,
  select {
    @apply !text bg-indigo-50 border border-indigo-200 outline-indigo-400;
  }
  input:disabled,
  select:disabled,
  textarea:disabled {
    @apply cursor-not-allowed bg-gray-100 border border-gray-300 opacity-80;
  }
  input:out-of-range,
  input.ng-invalid {
    @apply bg-red-100 text-red-700 outline-red-400 border-red-400;
  }

  @media (prefers-color-scheme: dark) {
    .mat-toolbar.mat-primary {
      @apply bg-transparent text-white;
    }
    .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
      @apply !bg-transparent;
    }
    .mat-button-toggle-group {
      @apply border-white;
    }
    .mat-dialog-container {
      @apply bg-black-dark border border-white text-white;
    }
    .mat-stroked-button:not(:disabled) {
      @apply border !border-white !text-white;
    }
    .mat-stroked-button:disabled {
      @apply border !border-white !text-white opacity-25;
    }
    label {
      @apply font-normal;
    }
  }
}
