/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
  }
  .mat-toolbar,
  .mat-button-toggle,
  .mat-label,
  .mat-dialog,
  .mat-dialog-title,
  .mat-dialog-content {
    @apply !font-sans;
  }
  .mat-button-toggle {
    @apply text-md;
  }
  .mat-button-toggle-group {
    @apply border-indigo;
  }
  .mat-button-toggle-checked {
    @apply bg-indigo !text-white;
  }
  .mat-dialog-title {
    @apply mb-2 text-xl;
  }
  .mat-dialog-content {
    @apply text-md;
  }
  .text-shadow {
    text-shadow: 0 0 1px var(--black-light);
  }
  label {
    @apply font-bold;
  }
}
